In [1]:
import pandas as pd

In [34]:
mapping_files = []
num_tabs = 5
for i in range(num_tabs):
    mapping_files.append(pd.read_excel('../QIIME2/mapping_file/bermudagrass_metadata.xlsx', engine='openpyxl', sheet_name = i))

In [35]:
mapping_files[2].head()

,Genotype_3,Fertility_3,AMF,Rep_3,Lab ID,Fert_Response,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1,PP,Y,1,L5-2,-0.419482,NaN,NaN,equation: fertilizer response = [(dry mass of ...
1,1,PP,Y,2,L6,-0.121716,NaN,NaN,NaN
2,1,PP,Y,3,NaN,0.281643,NaN,NaN,NaN
3,1,PP,Y,4,L7,0.326116,NaN,NaN,NaN
4,1,PP,Y,5,L8,0.006648,NaN,NaN,NaN

In [36]:
mapping_files_notnull = []
for i in range(len(mapping_files)):
    mapping_files_notnull.append(mapping_files[i][mapping_files[i]['Lab ID'].notnull()])
    mapping_files_notnull[i].set_index('Lab ID', inplace = True)
    mapping_files_notnull[i].sort_index(inplace = True)
    print(mapping_files_notnull[i].shape)

(143, 10)
(143, 7)
(95, 8)
(143, 16)
(143, 9)

/home/bostevens/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [37]:
mapping_files_notnull[4]

,G_5,FERT_5,AMF,REP_5,group_5,Length(cm),AvgDiam(mm),Forks,SurfArea(cm2)
Lab ID,,,,,,,,,
L1,1,P,Y,1,Common (C. dactylon),162.8464,0.2905,904.0,14.8643
L10,1,PPP,Y,2,Common (C. dactylon),329.7942,0.2978,2620.0,30.8595
L100,9,PP,Y,5,Common (C. dactylon),229.4975,0.3495,1577.0,25.1969
L101,9,PP,Y,1,Common (C. dactylon),216.1839,0.3708,1395.0,25.1835
L102,9,PP,Y,2,Common (C. dactylon),302.0509,0.2743,1827.0,26.0297
...,...,...,...,...,...,...,...,...,...
L95,8,PPP,Y,4,Hybrid (C. transvaalensis),106.4580,0.3194,150.0,10.6812
L96,9,P,Y,5,Common (C. dactylon),357.6942,0.2741,2434.0,30.8066
L97,9,P,Y,1,Common (C. dactylon),213.3945,0.3306,1244.0,22.1649
L98,9,P,Y,2,Common (C. dactylon),158.9038,0.2703,1182.0,13.4920
L99,9,P,Y,4,Common (C. dactylon),405.0234,0.2930,3263.0,37.2849

In [38]:
mapping_files_notnull[4].shape

(143, 9)

In [39]:
set(mapping_files_notnull[0].index) - set(mapping_files_notnull[4].index)

set()

In [44]:
full_df = pd.concat([mapping_files_notnull[0], mapping_files_notnull[1], mapping_files_notnull[3], mapping_files_notnull[4]], axis = 1)
full_df.drop(['Unnamed: 5', 'Unnamed: 6','AM-responsiveness = [(dry mass of mycorrhizal plant) – (dry mass of non-mycorrhizal plant) / (dry mass of mycorrhizal plant)] * 100'], inplace = True, axis = 1)
full_df.index.name = '#SampleID'

In [45]:
full_df.columns.values

array(['genotype_1', 'fertility_1', 'amf', 'rep_1', 'group_1',
       'shoot_mass', 'root_mass', 'total_mass', 'ratio_root _to_shoot',
       'root_colonization', 'genotype_2`', 'fertility_2', 'rep_2',
       'Response', 'genotype_4', 'fertility_4', 'inoculum', 'rep_4', 'TN',
       'P', 'Ca', 'K', 'Mg', 'Na', 'S', 'B', 'Fe', 'Zn', 'Cu', 'Mn',
       'G_5', 'FERT_5', 'AMF', 'REP_5', 'group_5', 'Length(cm)',
       'AvgDiam(mm)', 'Forks', 'SurfArea(cm2)'], dtype=object)

In [46]:
full_df.index.values

array(['L1', 'L10', 'L100', 'L101', 'L102', 'L103', 'L104', 'L105',
       'L106', 'L107', 'L108', 'L109', 'L11', 'L110', 'L111', 'L112',
       'L113', 'L114', 'L115', 'L116', 'L117', 'L118', 'L119', 'L12',
       'L120', 'L121', 'L122', 'L123', 'L124', 'L125', 'L126', 'L127',
       'L128', 'L129', 'L13', 'L130', 'L131', 'L132', 'L133', 'L134',
       'L135', 'L136', 'L137', 'L138', 'L139', 'L14', 'L140', 'L141',
       'L142', 'L143', 'L144', 'L15', 'L16', 'L17', 'L18', 'L19', 'L2',
       'L20', 'L21', 'L22', 'L23', 'L24', 'L25', 'L26', 'L27', 'L28',
       'L29', 'L3', 'L30', 'L31', 'L32', 'L33', 'L34', 'L35', 'L36',
       'L37', 'L38', 'L39', 'L40', 'L41', 'L42', 'L43', 'L44', 'L45',
       'L46', 'L47', 'L48', 'L49', 'L5', 'L5-2', 'L50', 'L51', 'L52',
       'L53', 'L54', 'L55', 'L56', 'L57', 'L58', 'L59', 'L6', 'L60',
       'L61', 'L62', 'L63', 'L64', 'L65', 'L66', 'L67', 'L68', 'L69',
       'L7', 'L70', 'L71', 'L72', 'L73', 'L74', 'L75', 'L76', 'L77',
       'L78', 'L79', 'L8', 'L80', 'L81', 'L82', 'L84', 'L85', 'L86',
       'L87', 'L88', 'L89', 'L9', 'L90', 'L91', 'L92', 'L93', 'L94',
       'L95', 'L96', 'L97', 'L98', 'L99'], dtype=object)

In [48]:
full_df.to_csv('../QIIME2/mapping_file/mapping_file.txt', sep = '\t')

In [49]:
full_df.loc[['L5','L82']]

,genotype_1,fertility_1,amf,rep_1,group_1,shoot_mass,root_mass,total_mass,ratio_root _to_shoot,root_colonization,...,Mn,G_5,FERT_5,AMF,REP_5,group_5,Length(cm),AvgDiam(mm),Forks,SurfArea(cm2)
#SampleID,,,,,,,,,,,,,,,,,,,,,
L5,1,P,Y,5,Common (C. dactylon),22.265,15.25,37.515,0.406504,19.0,...,70.928,1,P,Y,5,Common (C. dactylon),284.2965,0.3322,2220.0,29.6727
L82,7,PPP,Y,2,Hybrid (C. transvaalensis),25.640,20.32,45.960,0.442124,46.0,...,41.550,7,PPP,Y,2,Hybrid (C. transvaalensis),189.9677,0.2448,1072.0,14.6083